.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.column {
  flex: 50%;
}
.subHeading {
  display: flex;
}
.heading {
  margin-left: 3rem;
  margin-right: 3rem;
}

.heading h1 {
  font-size: 3rem;
  padding-top: 2.5rem;
  padding-right: 2.5rem;
  text-transform: capitalize;
}
.headingColor {
  color: #ffc800;
  font-weight: 700;
}

.subHeading {
  margin-top: 2rem;
}
.subHeading p {
  padding: 10px;
  background-color: #fffa65;
  border-radius: 10px;
  font-family: "Poppins";
  font-weight: 100;
}
.headingChefImg {
  display: inline-block;
  width: 10%;
}
.btn {
  margin-top: 2.5rem;
  margin-left: 2.5rem;
}
.btnFood,
.btnOrder {
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1.1rem;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btnFood {
  background-color: #ffc800;
  margin-right: 40px;
}
.btnFood:hover {
  background-color: #ffd747;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.btnOrder:hover {
  background-color: #1e212b;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  color: #fff;
}
.heroImg {
  margin-top: 2rem;
  width: 70%;
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .column {
    flex: 100%;
  }
  .heroImg {
    display: block;
    margin: 40px auto;
    width: 90%;
  }
  .headingChefImg {
    width: 20%;
  }
}
