.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.column {
  flex: 50%;
}
.headline {
  font-family: "Quicksand", sans-serif;
  font-size: 4rem;
  font-weight: 700;
  padding-top: 2rem;
  padding-left: 3rem;
  padding-right: 6rem;
}
.headlineSpn {
  color: #ffb703;
}
.subHedlinDesc {
  padding-top: 2rem;
  padding-left: 3rem;
}
.subText {
  display: flex;
}
.subText p {
  font-size: 1.2rem;
  /* border: 1px solid red; */
  padding-top: 10px;
  padding-right: 140px;
}
.btnRest,
.btnOrder {
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 15px;
  margin-top: 50px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.btnRest {
  background-color: #ffafcc;
  margin-right: 40px;
}
.btnOrder:hover,
:active {
  background-color: #023047;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
}
.btnRest:hover,
:active {
  background-color: #ffb703;
  /* cursor: pointer; */
  font-weight: 700;
}
/* CSS */

.imgChef {
  width: 10%;
  margin-right: 20px;
}
.imgSec {
  position: relative;
}
.abstImg {
  /* border: 1px solid yellow; */
  position: absolute;
  top: 20%;
  left: 15%;
  z-index: -2;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
