.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  /* margin-left: 2rem;
  margin-right: 2rem; */
}
.column {
  flex: 50%;
}
.heading {
  margin-left: 3rem;
}
.heading h1 {
  font-size: 3rem;
  padding-top: 2.5rem;
  padding-right: 2.5rem;
  text-transform: capitalize;
}
.headingColor {
  color: #eca400;
  font-weight: 700;
}
.subHeading {
  display: flex;
  margin-top: 2rem;
}
.subHeading p {
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  background-color: #cdedf6;
  border-radius: 10px;
  font-family: "Poppins";
  font-weight: 100;
}
.headingChefImg {
  display: inline-block;
  width: 10%;
}
.btn {
  margin-top: 2.5rem;
  margin-left: 2.5rem;
}
button {
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 1.1rem;
  padding: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.btnFood {
  background-color: #6eeb83;
  margin-right: 40px;
}
.btnFood:hover {
  background-color: #cdedf6;
  cursor: pointer;
}
.btnOrder:hover {
  background-color: #eca400;
  cursor: pointer;
}
.heroImg {
  margin-top: 2rem;
  width: 70%;
}
