.menuCatg {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-top: 4rem;
  background-color: #eafdcf;
}
.catgHeading {
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.catgSubHead {
  padding-bottom: 2rem;
  /* text-align: center; */
}
ul {
  list-style-type: none;
}
.catgLists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.lists {
  margin-top: 1.5rem;
  margin-bottom: 4rem;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  border: 1px dashed #ffc800;
}

.menuList {
  text-align: center;
}
.chevLeft {
  background-color: #ffc800;
  margin-right: 2rem;
}
