.menuCatg {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  margin-top: 4rem;

  background-color: #eafdcf;
}
.catgHeading,
.catgSubHead {
  text-align: center;
  padding-top: 2rem;
}
ul {
  list-style-type: none;
}
.catgLists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.lists {
  margin-top: 1.5rem;
  margin-bottom: 4rem;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  border: 1px dashed red;
}

.menuList {
  text-align: center;
}
.chevLeft {
  background-color: #eca400;
  margin-right: 2rem;
}
