.navMenu {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.navLogo {
  color: #fff;
}
.menuItem {
  display: inline-block;
  margin-left: 2rem;
  color: #fff;
  transition-delay: 0s;
  transition-property: border-left;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}
.menuItem:hover {
  border-bottom: 2px solid #ffc800;
  cursor: pointer;
}
