.navLogo {
  color: #fff;
  text-decoration: none;
}
.menuItem {
  color: #fff;
  transition-delay: 0s;
  transition-property: border-left;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  padding: 10px;
}
.menuItem:hover {
  border-left: 5px solid #ffc800;
  background-color: #d4e79e;
  color: #1e212b;
  font-weight: 600;
  cursor: pointer;
}
.cart {
  position: relative;
}
.cartNotf {
  background: #ffc800;
  clip-path: circle(50%);
  height: 2em;
  width: 2em;
  font-weight: 600;
  padding-top: 5px;
  padding-left: 10px;
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  .nav {
    position: sticky;
    top: 0;
    z-index: 99;
    background-color: #1e212b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
  }
  .menuItem {
    display: inline-block;
    margin-left: 2rem;
    /*   */
  }

  .iconContainerVisible {
  }
  .iconContainerHidden {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .phoneDetls {
    color: #ffc800;
    padding-right: 100px;
  }
  .phoneNum {
    position: absolute;
    right: 320px;
    color: #ffc800;
  }
  .menuIcon {
    display: none;
  }
  .cart {
    right: 3rem;
  }
  .cartNotf {
    background: #ffc800;
    clip-path: circle(50%);
    height: 2em;
    width: 2em;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-weight: 600;
    padding-top: 5px;
    padding-left: 10px;
  }

  .cartNotf p {
    color: #1e212b;
    position: absolute;
    top: 5px;
    left: 10px;
    font-weight: 700;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .nav {
    background-color: #1e212b;
    overflow: hidden;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    padding: 2rem;
  }
  .navMenuVisible {
    display: block;
  }
  .navMenuHidden {
    display: none;
  }
  .menuItem {
    display: block;
    padding: 10px 0 10px 0;
  }
  .menuIcon {
    display: block;
    position: absolute;
    top: 35px;
    right: 30px;
  }
  .menuItemContainer {
    margin-top: 2rem;
  }
  .phoneDetls p {
    color: #ffc800;
  }

  .iconContainerVisible {
    display: block;
  }
  .iconContainerHidden {
    display: none;
  }
  .cart {
    margin-top: 2rem;
  }
  .cartNotf {
    position: absolute;
    left: 10px;
    bottom: 10px;
  }
  .searchIcon {
    margin-top: 10px;
  }
}
