.mainMealContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.mealHeading {
  font-size: 2rem;
  padding-left: 8px;
  padding-bottom: 10px;
  border-left: 2px solid #ffc800;
}
.mealCards {
  display: flex;
  flex-wrap: wrap;
}
.mealCard--item {
  flex-basis: 23%;
  margin: 12px;
  position: relative;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.mealCard--cover img {
  display: block;
  margin: 20px auto;
  width: 90%;
  height: 40%;
  border-radius: 10px;
}
.mealCard--content {
  /* Take available height */
  flex: 1;
  padding: 10px;
}
.mealCard--content p {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}
.mealCard--amt {
  position: absolute;
  top: 20px;
  background: #ffc800;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  clip-path: circle(50%);
  height: 2em;
  width: 2em;
}

.mealCard-btn {
  border: 0;
  outline: none;
  background-color: #ffc800;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.mealCard-btn:hover {
  background-color: #83b692;
  cursor: pointer;
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-bob:hover,
.hvr-bob:focus,
.hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: 0.3s, 1.5s;
  animation-duration: 0.3s, 1.5s;
  -webkit-animation-delay: 0s, 0.3s;
  animation-delay: 0s, 0.3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}
@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .mealCard--item {
    flex-basis: 100%;
  }
}
