.mainMealContainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.mealHeading {
  font-size: 2rem;
  padding-left: 8px;
  padding-bottom: 10px;
  border-left: 2px solid #ffc800;
}
.cards {
  display: flex;
  flex-wrap: wrap;
}
